<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog :: Login</title>
</head>
<body>
<div class="container">
    <h2>Blog Application Login Page</h2>
    <a th:href="@{/}">Home</a>
    <hr/>
    <form action="#"
          th:action="@{/login}"
          method="post">
        <div>
            <label for="email">Email</label>
            <input id="email"  type="text" name="email" placeholder="Email"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Password"/>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>